.middle{
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    flex-wrap: wrap;
}
.article{
    margin: 25px;
    width: 650px;
    height: 650px;
    /*border: 4px solid black;*/
    border-radius: 5%;
    box-shadow: 10px 10px 70px #9c9c9c;
}
.article:hover{
    transform: scale(1.05);
    transition: all 0.1s linear;
}
.no1{
    background-image: url("../img/1.jpg");
    background-repeat: no-repeat;

}
.no2{
    background-image: url("../img/2.jpg");
    background-repeat: no-repeat;

}
.article_title{
    padding-left: 55px;
    padding-top: 50px;
    color: white;
    font-size: 50px;
}
.no3{
    background-image: url("../img/3.jpg");
    background-repeat: no-repeat;

}
.no4{
    background-image: url("../img/4.jpg");
    background-repeat: no-repeat;

}