{% extends 'background/singin_singup_base.html' %}
{% block tittle %}
SignIn
{% endblock %}

{% block main %}
        <div class="title">SignIn</div>
        <form action="" class="form" method="post">
                <div class="text">Username/Email</div>
                <input type="text" class="input_text" name="username" autofocus required>
                <input type="password" class="input_text" name="password"   required>
                <input type="submit" class="but" value="{{ text }}">
        </form>
{% endblock %}