{% extends 'blog/base.html' %}

{% load static %}
{% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'assets/css/Article-List.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-Basic.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Footer-Dark.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navigation-Clean.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navigation-with-Button.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/Navigation-with-Search.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/styles.css' %}">
    <title>Box's Blackboard</title>
    <style>
        a{
            text-decoration: none;
            color: black;
        }
        a:hover{
            text-decoration: none;
            color: black;
        }
    </style>
{% endblock %}
{% block body %}
<div class="article-list">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Latest Articles</h2>
            <p class="text-center">Nunc luctus in metus eget fringilla. Aliquam sed justo ligula. Vestibulum nibh erat,
                pellentesque ut laoreet vitae. </p>
        </div>
        <div class="row articles">
            {% for article in articles reversed %}
                 <div class="col-sm-6 col-md-4 item">
                <a href="/details?id={{ article.id }}"><img class="img-fluid" src="{% static 'assets/img/desk.jpg' %}"></a>
                <a href="/details?id={{ article.id }}"><h3 class="name">{{ article.title}}</h3></a>
                <p class="author">{{ article.author}}</p>
                <a href="/details?id={{ article.id }}"><p class="description">{{ article.markdown }}</p></a>
                     <a class="action" href="/details?id={{ article.id }}"><i class="fa fa-arrow-circle-right"></i></a></div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}